extends layout

block content
  .container
    form#personSubmit(method='post' action='/add')
      .input-field
        label(for='firstName') First Name:
        input(type='text' id='firstName' name='firstName')
      .input-field
        label(for='lastName') Last Name:
        input(type='text' id='lastName' name='lastName')
      .input-field
        label(for='email') Email:
        input(type='text' id='email' name='email')
        input(type='date' id='birthDate' name='birthDate')
      .input-field
        label(for='city') City:
        input(type='text' id='city' name='city')
      .input-field
        label(for='zip') ZIP:
        input(type='text' id='zip' name='zip')
      .input-field
        label(for='homeCity') Home City:
        input(type='text' id='homeCity' name='homeCity')
      .input-field
        label(for='homeCityZip') Home City ZIP:
        input(type='text' id='homeCityZip' name='homeCityZip')
      //a.btn-floating.btn-large.waves-effect.waves-light.blue(href='/')
        i.material-icons.right arrow_back
      //button.btn-floating.btn-large.waves-effect.waves-light(type='submit')
        i.material-icons.right send
      .fixed-action-btn
        a.btn-floating.btn-large.red
          i.material-icons mode_edit
        ul
          li
            button.btn-floating.green(type='submit')
              i.material-icons send
          li
            a.btn-floating.blue(href='/')
              i.material-icons arrow_back